doctype html
head
  meta(charset="utf-8")
  title Page Title
  link(rel="stylesheet", type="text/css", href="../css/master.css")
  meta(name="viewport", content="width=device-width, initial-scale=1.0")
body
  header
    h1 Logo
    nav
      ul
        li link
        li link

    section.first
      .bigBox
        .box.a
        .box.b
        .box.c
        .box.d
    section.second
      .bigBox
        img(src="../img/penta.png", alt="satan")
