<!DOCTYPE html>
<html ng-app="myApp">
	<head>
		<meta charset="utf-8">
		<title>xxx</title>
		<link rel="stylesheet" href="css/master.css" media="screen" title="no title" charset="utf-8">
	</head>
	<body>
		<div id="landingPage" ng-controller="landingPage">
			<div class="box" ng-click="getIt();">
				<h1>{{uniStatus}}</h1>
				<button type="button" name="button" id="changeBtn" ng-click="changeView">{{newView}}</button>
			</div>
		</div>
		<div id="otherPage" class="hidden">
			<div class="box"></div>
		</div>

























		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular.min.js" charset="utf-8"></script>
		<script type="text/javascript" src="js/app.js"></script>
		<script type="text/javascript" src="js/service.js"></script>
		<script type="text/javascript" src="js/ctrl.js"></script>
		<script type="text/javascript" src="js/scripts.js"></script>
	</body>
</html>
