<!DOCTYPE html>
<html ng-app="app">
	<head>
		<meta charset="utf-8">
		<link rel="stylesheet" href="master.css" media="screen" title="no title" charset="utf-8">
		<title>workshop</title>
	</head>
	<body ng-controller="ctrl">
		<input type="button" name="name" value="show me the date" ng-click="showDate()">
		<input type="button" name="name" value="how long till tomorrow?" ng-click="nextDay()">
		<h1>Current date</h1>
		{{date}}
		<h1>Time until the next day starts</h1>
		{{timeTillNextDay}}






		<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular.min.js"></script>
		<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.14.1/moment.min.js"></script>
		<script type="text/javascript" src="app.js"></script>
		<script type="text/javascript" src="ctrl.js"></script>
		<script type="text/javascript" src="srvc.js"></script>
		<script type="text/javascript" src="script.js"></script>
	</body>
</html>
