doctype html
html
head
    meta(charset="utf-8")
    title titleTodo
    link(rel="stylesheet" href="styles2.css")
body
   div#todoApp

script(src="https://code.jquery.com/jquery-2.1.4.js")
script(src="toDo.js")
